#headerwrap
  .container
    .row
      .col-lg-8.col-lg-offset-2
        %h3 Send us a short pitch about your idea
        %h1 Build Your Dream.
        %h5 We've got the experience and network to give you the best feedback
    .row.bottom-17
      .col-lg-12
        %video#pitch.video-js.vjs-default-skin{style: 'margin: 0 auto'}
        %h5 (record as many times as you need until you like your pitch)
    .row.bottom-17
      .col-lg-6.col-lg-offset-3
        .input-group
          %input.form-control.input-lg{:type => 'text', placeholder: 'Enter E-mail or Skype username'}
          %span.input-group-btn
            %button.btn.btn-success.btn-lg{:type => 'button'} Send us the Pitch!
#service>
  .container>
    .row.centered
      .col-md-4
        %i.fa.fa-trophy
        %h4 Success
        %p We're serial enterpreneurs with successful exits. We've been all the way down the road and have the insights to make the way smoother for a Startup at all stages.
        %p
      .col-md-4
        %i.fa.fa-heart-o
        %h4 Love
        %p
          We know how important a Startup for a founder is and we
          %b care
          to fight for your interests.
        %p
      .col-md-4
        %i.fa.fa-users
        %h4 Network
        %p Getting to know the right people plays a crucial role in the growth of a Startup. We are in touch with industry leaders ready to invest in your idea.
        %p
